@font-face {
  font-family: "iconfont"; /* Project id 2984612 */
  src: url('iconfont.woff2?t=1651043998217') format('woff2'),
       url('iconfont.woff?t=1651043998217') format('woff'),
       url('iconfont.ttf?t=1651043998217') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbatch:before {
  content: "\e706";
}

.iconmerge:before {
  content: "\e707";
}

.iconsplit:before {
  content: "\e708";
}

.icontrans:before {
  content: "\e705";
}

.iconpause:before {
  content: "\e704";
}

.iconcancel:before {
  content: "\e703";
}

.iconsilent_call:before {
  content: "\e702";
}

.iconcall_border:before {
  content: "\e701";
}

.iconpass:before {
  content: "\e700";
}

.iconc_pass:before {
  content: "\e6ff";
}

.iconboard:before {
  content: "\e6fe";
}

.iconc_suspension:before {
  content: "\e6fd";
}

.iconbudeng:before {
  content: "\e6fc";
}

.iconrequisition:before {
  content: "\e6fb";
}

.iconreturn_f:before {
  content: "\e6fa";
}

.iconfinished1:before {
  content: "\e6f9";
}

.iconp_info:before {
  content: "\e6f8";
}

.iconcancel_collect:before {
  content: "\e6f7";
}

.iconcollect-border:before {
  content: "\e6f6";
}

.iconedit-requisition:before {
  content: "\e6f5";
}

.iconshare_image:before {
  content: "\e6f4";
}

.icondetails:before {
  content: "\e6f3";
}

.iconp_export:before {
  content: "\e6f2";
}

.iconcontrast:before {
  content: "\e6f1";
}

.iconreturntq:before {
  content: "\e6f0";
}

.iconsend:before {
  content: "\e6ef";
}

.iconlocked:before {
  content: "\e6ee";
}

.iconreturnfee:before {
  content: "\e6ed";
}

.icondelete-border:before {
  content: "\e6ec";
}

.iconreenter:before {
  content: "\e6ce";
}

.iconrecords:before {
  content: "\e6eb";
}

.iconkelu:before {
  content: "\e6ea";
}

.iconh_reports:before {
  content: "\e6e9";
}

.iconp_r:before {
  content: "\e6e8";
}

.iconprint:before {
  content: "\e6e7";
}

.iconp_film:before {
  content: "\e6e6";
}

.iconreport:before {
  content: "\e6e5";
}

.iconlink:before {
  content: "\e6cc";
}

.iconunlink:before {
  content: "\e6cd";
}

.iconedit:before {
  content: "\e6e4";
}

.iconread:before {
  content: "\e6c8";
}

.iconbuda:before {
  content: "\e6c5";
}

.iconedit-border:before {
  content: "\e6e3";
}

.iconbrowse:before {
  content: "\e6bc";
}

.iconlist:before {
  content: "\e6e2";
}

.iconmessage1:before {
  content: "\e6d7";
}

.iconbrowse1:before {
  content: "\e6d9";
}

.iconp_info1:before {
  content: "\e6dd";
}

.iconReal-time:before {
  content: "\e6d8";
}

.icontiming_stop:before {
  content: "\e6e1";
}

.iconvideo_stop:before {
  content: "\e6da";
}

.iconvideo_play:before {
  content: "\e6e0";
}

.iconfocus_single:before {
  content: "\e6d5";
}

.iconfocus_double:before {
  content: "\e6d6";
}

.iconsimplelist:before {
  content: "\e6db";
}

.iconimg_placeholoder:before {
  content: "\e6dc";
}

.icontiming_play:before {
  content: "\e6de";
}

.iconphoto:before {
  content: "\e6df";
}

.icondoublearrow_up:before {
  content: "\e6d4";
}

.icondoublearrow:before {
  content: "\e6d3";
}

.iconalign_vcenter:before {
  content: "\e633";
}

.iconalign_hcenter:before {
  content: "\e634";
}

.iconredo:before {
  content: "\e635";
}

.iconundo:before {
  content: "\e63d";
}

.iconlogo:before {
  content: "\e641";
}

.iconlogotext:before {
  content: "\e642";
}

.iconItalic:before {
  content: "\e643";
}

.iconcapture:before {
  content: "\e645";
}

.iconmanage_quanzhong:before {
  content: "\e612";
}

.iconc_fucous:before {
  content: "\e648";
}

.iconstatistics3:before {
  content: "\e649";
}

.iconstatistics21:before {
  content: "\e64a";
}

.iconstatistics5:before {
  content: "\e64b";
}

.iconstatistics4:before {
  content: "\e64c";
}

.iconpreview_border:before {
  content: "\e64d";
}

.iconclear:before {
  content: "\e64f";
}

.iconunderscore:before {
  content: "\e6cf";
}

.iconAI:before {
  content: "\e6d0";
}

.iconenlarge:before {
  content: "\e6d1";
}

.iconrestore:before {
  content: "\e6d2";
}

.icontitle-logo:before {
  content: "\e601";
}

.icontoggle:before {
  content: "\e668";
}

.iconxiayiye:before {
  content: "\e66f";
}

.iconright:before {
  content: "\e673";
}

.iconchakanyingxiang:before {
  content: "\e677";
}

.iconyixuanzezhuanjia:before {
  content: "\e678";
}

.iconwork:before {
  content: "\e6aa";
}

.iconstatistics1:before {
  content: "\e6ab";
}

.iconarrowl:before {
  content: "\e6ac";
}

.iconarrowr:before {
  content: "\e6ad";
}

.iconarrowu:before {
  content: "\e6ae";
}

.iconup:before {
  content: "\e6af";
}

.icondown:before {
  content: "\e6b0";
}

.iconarrowd:before {
  content: "\e6b1";
}

.iconurgent:before {
  content: "\e6b2";
}

.iconaddress:before {
  content: "\e6a8";
}

.iconphone1:before {
  content: "\e6b3";
}

.iconexit:before {
  content: "\e6a1";
}

.iconexport:before {
  content: "\e6a2";
}

.iconset:before {
  content: "\e6a3";
}

.iconidsafe:before {
  content: "\e6b4";
}

.iconmessage:before {
  content: "\e6b5";
}

.iconfileopen:before {
  content: "\e6b6";
}

.iconfileclose:before {
  content: "\e6b7";
}

.iconclose:before {
  content: "\e6a0";
}

.iconedit-fill:before {
  content: "\e6a5";
}

.iconfold:before {
  content: "\e6a7";
}

.iconplus:before {
  content: "\e6b9";
}

.iconsearch:before {
  content: "\e6ba";
}

.iconplus-fill:before {
  content: "\e6bd";
}

.iconmore:before {
  content: "\e6be";
}

.iconsuccessed-fill:before {
  content: "\e6c1";
}

.iconcalander:before {
  content: "\e6c2";
}

.iconopen:before {
  content: "\e6c4";
}

.icondanger-fill:before {
  content: "\e6c7";
}

.icondownload:before {
  content: "\e606";
}

.icondeletecircle:before {
  content: "\e636";
}

.icondelete-fill:before {
  content: "\e637";
}

.icondrag:before {
  content: "\e638";
}

.iconfilter1:before {
  content: "\e639";
}

.iconhistory:before {
  content: "\e63a";
}

.iconqueue:before {
  content: "\e63b";
}

.iconscan1:before {
  content: "\e63c";
}

.iconinfo-fill1:before {
  content: "\e63f";
}

.iconwarning-fill1:before {
  content: "\e640";
}

.iconfee:before {
  content: "\e64e";
}

.iconmanage:before {
  content: "\e656";
}

.icontriage:before {
  content: "\e657";
}

.iconsave:before {
  content: "\e658";
}

.iconreport1:before {
  content: "\e659";
}

.iconstatistics2:before {
  content: "\e65a";
}

.iconsearchlist:before {
  content: "\e65b";
}

.iconqc:before {
  content: "\e65c";
}

.iconreset:before {
  content: "\e65d";
}

.iconmember:before {
  content: "\e65e";
}

.iconQC:before {
  content: "\e65f";
}

.iconappicon:before {
  content: "\e662";
}

.iconrefresh:before {
  content: "\e663";
}

.iconjshi:before {
  content: "\e66e";
}

.iconvip:before {
  content: "\e675";
}

.icondateset:before {
  content: "\e676";
}

.iconclose-fill:before {
  content: "\e679";
}

.icondelete:before {
  content: "\e67a";
}

.iconset_fill:before {
  content: "\e67b";
}

.iconsscreen:before {
  content: "\e67c";
}

.iconlscreen:before {
  content: "\e67d";
}

.iconpreview:before {
  content: "\e67e";
}

.iconleft:before {
  content: "\e680";
}

.iconstart:before {
  content: "\e681";
}

.iconcall:before {
  content: "\e682";
}

.iconpostpone:before {
  content: "\e683";
}

.icontext:before {
  content: "\e685";
}

.iconfollow:before {
  content: "\e687";
}

.iconhushi:before {
  content: "\e686";
}

.iconinfo_border:before {
  content: "\e688";
}

.icondefavatar:before {
  content: "\e689";
}

.iconfinished:before {
  content: "\e68c";
}

.iconcall_fill:before {
  content: "\e692";
}

.iconpause_fill:before {
  content: "\e699";
}

.icons_account:before {
  content: "\e69a";
}

.iconrestart:before {
  content: "\e69b";
}

.iconcancel1:before {
  content: "\e6ca";
}

.iconrecall1:before {
  content: "\e6cb";
}

.iconreserve:before {
  content: "\e603";
}

.iconmore2:before {
  content: "\e605";
}

.iconfileclose_fill:before {
  content: "\e609";
}

.iconfileopen_fill:before {
  content: "\e60a";
}

.iconnull:before {
  content: "\e60b";
}

.icondoc_border:before {
  content: "\e60c";
}

.iconalignt_c:before {
  content: "\e621";
}

.iconalignt_l:before {
  content: "\e622";
}

.iconalignt_r:before {
  content: "\e623";
}

.iconbold:before {
  content: "\e624";
}

.iconfit:before {
  content: "\e625";
}

.iconfith:before {
  content: "\e626";
}

.iconcopy:before {
  content: "\e627";
}

.iconfitw:before {
  content: "\e628";
}

.icondown_one:before {
  content: "\e629";
}

.iconup_one:before {
  content: "\e62a";
}

.iconup_top:before {
  content: "\e62b";
}

.icondown_btm:before {
  content: "\e62c";
}

.iconA:before {
  content: "\e62d";
}

.iconA-:before {
  content: "\e62e";
}

.iconalign_b:before {
  content: "\e62f";
}

.iconalign_r:before {
  content: "\e630";
}

.iconalign_l:before {
  content: "\e631";
}

.iconalign_t:before {
  content: "\e632";
}

