// 浏览器基本配置start
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: auto;
  min-width: 1280px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
textarea,
menu,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer,
section,
article,
aside,
nav,
address,
figure,
figcaption,
menu,
details {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}

i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}

li {
  list-style: none;
}

textarea {
  overflow: auto;
  resize: none;
}

label,
summary {
  cursor: default;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="button"],
input[type="submit"],
input[type="text"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas {
  display: block;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

* {
  outline: none;
}

@for $i from 300 through 600 {
  @if $i % 100==0 {
    .fontW#{$i} {
      font-weight: #{$i};
    }
  }
}

@for $i from 0 through 90 {
  @if $i % 5==0 {
    .paddingT#{$i} {
      padding-top: #{$i}px !important
    }

    .paddingL#{$i} {
      padding-left: #{$i}px !important
    }

    .paddingR#{$i} {
      padding-right: #{$i}px !important
    }

    .paddingB#{$i} {
      padding-bottom: #{$i}px !important
    }

    .marginT#{$i} {
      margin-top: #{$i}px !important
    }

    .marginL#{$i} {
      margin-left: #{$i}px !important
    }

    .marginR#{$i} {
      margin-right: #{$i}px !important
    }

    .marginB#{$i} {
      margin-bottom: #{$i}px !important
    }

    .padding#{$i} {
      padding: #{$i}px !important
    }

    .margin#{$i} {
      margin: #{$i}px !important
    }
  }
}

// .ant-layout {
//   height: calc(100% - 50px);
// }

.ant-layout-sider {
  background: var(--background-color-main) !important;
  overflow: auto;
}

.ant-layout-content {
  background: var(--background-color-base) !important;
  overflow: auto;
  height: 100vh;
}

.border-l {
  border-left: 1px solid var(--border-color-base) !important;
}

.border-r {
  border-right: 1px solid var(--border-color-base) !important;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ant-input-affix-wrapper,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input,
.ant-input-number {
  background: transparent !important;
  .ant-input {
    background: transparent !important;
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex { 
  display: flex;
}

.flex1 {
  flex: 1
}

.ant-btn-primary {
  color: var(--color-white1) !important;
}

.ant-input:focus {
  border-color: var(--color-primary) !important;
}